form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    gap: 10px;
}

.field{
    display: flex;
    flex-direction: column;
}

.field input, select{
    backface-visibility: hidden;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    height: 30px;
    width: 300px;
    border: 2px solid white;
    cursor: pointer;
    padding-left: 2%;
    padding-bottom: 5px;
}


.field input:focus, select:focus{
    border-bottom: 1px solid white;
}

.submit{
    margin-top: 25px;
}
